body {
  color: #f9dbbd;
  background-image: url(./assets/bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-container {
  margin-top: 5rem;
  color: #f9dbbd;
  padding: 1rem;
}
.cityNameIcon {
  color: #f9dbbd;
  padding: 0.25rem;
  text-align: center;
}
#search-icon {
  margin: 0.5rem;
  padding: 0.2rem;
}
#search-icon:hover {
  color: aqua;
}
.card-text{
    text-align: left !important;
}
.card-box {
  background-color: rgba(39, 4, 197, 0.13);
  color: #f9dbbd;
  animation: fade 1s infinite;
}
@keyframes fade{
  0% {background-color: rgba(39, 4, 197, 0.13);}
  100% {background-color: rgba(39, 4, 197, 0.65);}
}
.card-box:hover {
  background-color: rgba(39, 4, 197, 0.65);
  animation: none;
}
.unit-color {
  color: #f9dbbd !important;
  font-weight: 500 !important;
}
.table-design {
  border-radius: 0.65rem !important;
}
p {
  color: #f9dbbd !important;
}
td, th, tr {
  background-color: rgba(39, 4, 197, 0.15) !important;
  color: #f9dbbd !important;
  border: none !important;
}
tr:hover {
  background-color: rgba(39, 4, 197, 0.65) !important;
}
.table-round-left-bottom {
  border-radius: 0 0 0 0.65rem !important;
}
.table-round-right-bottom {
  border-radius: 0 0 0.65rem 0 !important;
}
.about-container-main {
  margin: 15rem auto;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh;
}
.about-container h1, h2, h3, h5{
    text-align: center;
}
#about-link{
    color: #ffff00;
    text-decoration: none;
}
.about-container {
  overflow: auto;
  color: #f9dbbd;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  margin: 1rem;
  padding: 2rem;
  width: 1000px;
  height: 1000px;
  background-color: rgba(39, 4, 197, 0.35);
  border-radius: 1rem;
}